[defaults]
inventory           = inventory.yml
remote_user         = ubuntu
private_key_file    = ~/.ssh/instance1-key
vault_password_file = ~/.vault_pass
stdout_callback     = default
result_format       = yaml
forks               = 10
host_key_checking   = False
retry_files_enabled = False
timeout             = 30
interpreter_python  = /usr/bin/python3.12

[privilege_escalation]
become        = False
become_method = sudo
become_user   = root
